html{
  background-image: url(abi.jpg);
  background-repeat:repeat-x;
  background-size: cover;
}

nav {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: black;
  z-index: 1;
}

nav a{
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}


nav a:hover {
  color: white;
}


.active {
  border-bottom: 2px solid;
}

.nav_Container{
  text-align:center;
}

.one{
  text-align: center;
  padding: 100px;
  background: rgba(255, 255, 255, 0.8);
}

.two{
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 50px;
    background-color:rgba(150,150,150,0.8);
}

h2{
  text-align: center;
  font-size: 40px;
}

h3{
    text-align: left;
    font-size: 25px;
}

.three{
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}

.autoType{

}

#Name_typing{
  font-size: 50px;
  font-weight: bold;
  position: static;
}

.skill{
  font-size: 30px;

  background-image:linear-gradient(to right, #424242, #BDBDBD);
  color: black;
  padding: 1%;
  text-align: right;
  border-radius: 30px;
}

.skill_con{
  background-color: black;
  color: white;
  padding: 1%;
  width: 80%;
  border-radius:30px;
}

.html{
  width: 40%;
}

.php{
  width: 30%;
}

.phtoshop{
  width:40%
}

footer{
    background-color:rgba(150,150,150,0.8);
  border: 20px;
  text-align: center;
}
